@charset "UTF-8";
:root{
--bs-primary:#63b5a3;
--bs-primary-container:#e0f0ed;
--bs-success:#718cc7;
--bs-success-hover:#84aafc;
--bs-light:#f5f2ed;
--bs-accent:#ffe100;
--bs-accent-hover:#fff333;
--bs-warning:#ffe100;
--bs-danger:#ad272d;
--bs-gray-dark:#4d4d4d;
--bs-gray-100:#f8f8f8;
--bs-gray-200:#eee;
--bs-gray-300:#ddd;
--bs-gray-400:#ccc;
--bs-gray-500:#aaa;
--bs-gray-600:#666;
--bs-gray-700:#4d4d4d;
--bs-gray-800:#333;
--bs-gray-900:#222;
}
body{min-height:100vh}
header{z-index:50}
.blur{background-color:rgba(0,0,0,0.2);backdrop-filter: blur(12px);-webkit-backdrop-filter:blur(12px)}
.blur-w{background-color:rgba(255,255,255,0.5);backdrop-filter: blur(12px);-webkit-backdrop-filter:blur(12px)}
.ffs-palt{font-feature-settings:'palt'}
.bg-gray-200{background-color:var(--bs-gray-light)!important}
.bg-gray-300{background-color:var(--bs-gray-300)!important}
.bg-gray-400{background-color:var(--bs-gray-400)!important}
.bg-gray-500{background-color:var(--bs-gray-500)!important}
.bg-gray-600{background-color:var(--bs-gray-600)!important}
.bg-gray-700{background-color:var(--bs-gray-700)!important}
.bg-gray-800{background-color:var(--bs-gray-800)!important}
.text-gray-200{color:var(--bs-gray-light)!important}
.text-gray-300{color:var(--bs-gray-300)!important}
.text-gray-400{color:var(--bs-gray-400)!important}
.text-gray-500{color:var(--bs-gray-500)!important}
.text-gray-600{color:var(--bs-gray-600)!important}
.text-gray-700{color:var(--bs-gray-700)!important}
.text-gray-800{color:var(--bs-gray-800)!important}
.text-primary,.btn-outline-primary{color:var(--bs-primary)!important}
.bg-primary,.btn-primary,.btn-outline-primary:hover{background-color:var(--bs-primary)!important}
.border-primary,.btn-primary,.btn-outline-primary{border-color:var(--bs-primary)!important}
.bg-primary-container{background-color:var(--bs-primary-container)!important}
.btn-outline-primary:hover{color:#fff!important}
.bg-light{background-color:var(--bs-light)!important}
.text-accent,.btn-outline-accent{color:var(--bs-accent)!important}
.bg-accent,.btn-accent{background-color:var(--bs-accent)}
.border-accent,.btn-accent,.btn-outline-accent{border-color:var(--bs-accent)!important}
.btn-accent{color:#fff;background-color:var(--bs-accent);border:none;background-image:linear-gradient(to left,var(--bs-danger),var(--bs-accent))}
.bg-accent{background-color:var(--bs-accent)!important;background-image:linear-gradient(to left,var(--bs-danger),var(--bs-accent))}
.btn-accent:hover,.btn-accent:focus,.btn-accent:active{color:#fff;background-color:var(--bs-accent-hover);border-color:var(--bs-accent-hover);background-image:linear-gradient(to left,var(--bs-danger),var(--bs-accent-hover))}
.text-warning,.btn-outline-warning{color:var(--bs-warning)!important}
.bg-warning{background-color:var(--bs-warning)!important}
.border-warning,.btn-warning,.btn-outline-warning{border-color:var(--bs-warning)!important}
.btn-warning,.btn-warning:hover{background-color:var(--bs-warning);border-color:var(--bs-warning);color:#fff}
.text-danger,.btn-outline-danger{color:var(--bs-danger)!important}
.bg-danger{background-color:var(--bs-danger)!important;background-image:linear-gradient(to right,#d91c24,var(--bs-danger))}
.border-danger,.btn-danger,.btn-outline-danger{border-color:var(--bs-danger)!important}
.btn-danger,.btn-danger:hover{border:none;color:#fff;background-image:linear-gradient(to right,#d91c24,var(--bs-danger))}
.btn{padding:.5em 1.5em}
.text-success{color:var(--bs-success)!important}
.btn-success{background-color:var(--bs-success);border:none;background-image:linear-gradient(to right,var(--bs-primary),var(--bs-success))}
.bg-success{background-color:var(--bs-success)!important;background-image:linear-gradient(to right,var(--bs-primary),var(--bs-success))}
.btn-success:hover,.btn-success:focus,.btn-success:active{background-color:var(--bs-success-hover);border-color:var(--bs-success-hover);background-image:linear-gradient(to right,var(--bs-primary),var(--bs-success-hover))}
.border-success{border-color:var(--bs-success)!important}
.fspp-icon{height:1.2em;width:1.2em;display:inline-block}
.btn-success:focus,.btn-success:active:focus{box-shadow: 0 0 0 0.25rem rgb(179 147 9 / 50%)}
.btn-outline-success{color:var(--bs-primary);background-image:linear-gradient(to right,var(--bs-primary),var(--bs-success-hover));background-color:#fff;position:relative;overflow:hidden;background-size:105%;background-position:center;border: 3px solid transparent;}
.btn-outline-success::before{content:"";display:block;background-color:#fff;width:100%;height:100%;position:absolute;top:0;left:0;}
.btn-outline-success:hover{color:var(--bs-success);background-color:var(--bs-success);border-color:var(--bs-success)}
.btn-outline-success > :last-child{position:relative}
.btn-check:checked+.btn-outline-success {color: #fff!important;background-color: var(--bs-success);border-color: var(--bs-success)}
.btn-check:focus+.btn-outline-success,.btn-outline-success:focus,.btn-outline-success:active:focus{box-shadow: 0 0 0 0.25rem rgb(225 225 225 / 50%)}
.max-120{max-width:120px}
.max-160{max-width:160px}
.max-200{max-width:200px}
.max-240{max-width:240px}
.max-280{max-width:280px}
.max-320{max-width:320px}
.max-360{max-width:360px}
.max-400{max-width:400px}
.max-480{max-width:480px}
.max-560{max-width:560px}
.max-600{max-width:600px}
.max-680{max-width:680px}
.max-720{max-width:720px}
.max-800{max-width:800px}
.smaller{font-size:10px}
.ls-0{letter-spacing:0}
.ls-1{letter-spacing:0.1em}
.ls-2{letter-spacing:0.2em}
.ls-3{letter-spacing:0.3em}
.rounded-5{border-radius:0.5rem!important;}
.rounded-10{border-radius:1rem!important;}
.bottom-1{bottom:-1px}
.img-cover{object-fit:cover}
.square-w{width:100%;height:fit-content;aspect-ratio:1/1;}
.square-h{height:100%;width:fit-content;aspect-ratio:1/1;}
.remove-gap{transform: scaleY(1.02)}
.filter-drop-shadow{filter:drop-shadow(0 0 6px rgba(0,0,0,0.3))}
.filter-drop-shadow-white{filter:drop-shadow(0 0 10px #fff)}
.offcanvas-end{width:500px;border:0}
.border-color-nomal{border-color:rgba(0,0,0,.125)!important}
.move{transition: 0.8s ease 0s}
.text-align-justify,.text-align-justify-all{text-align:justify}
.text-align-justify-all{text-align-last:justify}
#menu_top{position:fixed;bottom:-150px;right:0;cursor:pointer}
@media (min-width:992px) {
.border-lg-top{border-top:1px solid #dee2e6}
}