@charset "UTF-8";
:root {
--main-color: #000;
}
#header-nav {
  background-color: rgba(0, 0, 0, .7);
  --main-color: #fff;
  position: fixed;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
body {
  color: #000;
}
header {
  margin-top: 3.5em;
}
.top-icon {
  width: 3.8em;
  height: 3.8em;
  display: flex;
  padding: .3em .3em;
  margin-left: .5em;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}
.nav-list .btn {
  margin: 0;
  border-radius: 0;
}
.main-bg-color {
  background-color: var(--main-color, #666);
}
.sub-bg-color {
  background-color: #939597
}
.bg-black {
  background-color: black;
}
.main-color {
  color: #eb981c;
}
.color-gray {
  color: #999;
}
.ff-serif {
  font-family: serif;
  font-feature-settings: "palt" 1;
  font-kerning: normal;
}
.main-visual {
  max-height: 50vw;
  width: 100%;
  height: auto;
  object-position: 100% 0;
  object-fit: cover;
  border: thin solid #000;
}
.dummy-img {
  width: 200px;
  height: 250px;
  background-color: #ddd;
}
.goods-img {
  width: 100%;
  height: auto;
}
.css-not-swip {
  scroll-snap-type: none;
}

@media screen and (min-width: 921px) {
.main-visual {
  max-height: 500px;
  max-width: 1000px;
  margin: auto;
}

@media screen and (max-width: 320px) {
body {
  font-size: 12px;
}
}