@charset "UTF-8";
:root{
--bs-primary:#000;--bs-primary-hover:#333;
--bs-secondary:#040d27;--bs-secondary-hover:#002a77;
--bs-success:#4B4A45;--bs-success-hover:#666;
--bs-dark-light:#ccc;
--bs-light:#f1f1f1;--bs-gray-light:#eee;
--bs-accent:#bfecd9;
--bs-warning:#aa6800;
--bs-danger:#ba1a1a;
--bs-gray-dark:#4d4d4d;
--bs-gray-100: #f8f8f8;
--bs-gray-200: #eee;
--bs-gray-300: #ddd;
--bs-gray-400: #ccc;
--bs-gray-500: #aaa;
--bs-gray-600: #666;
--bs-gray-700: #444;
--bs-gray-800: #333;
--bs-gray-900: #222;
}
body{min-height:100vh}
header.sticky-top{z-index:50;background-color:rgba(255,255,255,0.8);backdrop-filter: blur(12px);-webkit-backdrop-filter: blur(12px);}
.ffs-palt,.sentence{font-feature-settings:'palt'}
.bg-gray-200{background-color:var(--bs-gray-light)!important}
.bg-gray-300{background-color:var(--bs-gray-300)!important}
.bg-gray-400{background-color:var(--bs-gray-400)!important}
.bg-gray-500{background-color:var(--bs-gray-500)!important}
.bg-gray-600{background-color:var(--bs-gray-600)!important}
.bg-gray-800{background-color:var(--bs-gray-dark)!important}
.text-primary,.btn-outline-primary{color:var(--bs-primary)!important}
.bg-primary,.btn-primary,.btn-outline-primary:hover{background-color:var(--bs-primary)!important}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{background-color:var(--bs-primary-hover)!important;border-color:var(--bs-primary-hover)!important}
.border-primary,.btn-primary,.btn-outline-primary{border-color:var(--bs-primary)!important}
.btn-outline-primary:hover{color:#fff!important}
.text-secondary,.btn-outline-secondary{color:var(--bs-secondary)!important}
.bg-secondary,.btn-secondary,.btn-outline-secondary:hover{background-color:var(--bs-secondary)!important}
.btn-secondary:hover,.btn-secondary:focus,.btn-secondary:active{background-color:var(--bs-secondary-hover)!important;border-color:var(--bs-secondary-hover)!important}
.border-secondary,.btn-secondary,.btn-outline-secondary{border-color:var(--bs-secondary)!important}
.btn-outline-secondary:hover{color:#fff!important}
.bg-light{background-color:var(--bs-light)!important}
.bg-dark-light{background-color:var(--bs-dark-light)!important}
.border-dark-light{border-color:var(--bs-dark-light)!important}
.text-accent,.btn-outline-accent{color:var(--bs-accent)!important}
.bg-accent{background-color:var(--bs-accent)}
.border-accent,.btn-accent,.btn-outline-accent{border-color:var(--bs-accent)!important}
.text-warning,.btn-outline-warning{color:var(--bs-warning)!important}
.bg-warning{background-color:var(--bs-warning)!important}
.border-warning,.btn-warning,.btn-outline-warning{border-color:var(--bs-warning)!important}
.btn-warning,.btn-warning:hover{background-color:var(--bs-warning);border-color:var(--bs-warning);color:#fff}
.text-danger,.btn-outline-danger{color:var(--bs-danger)!important}
.bg-danger{background-color:var(--bs-danger)!important}
.border-danger,.btn-danger,.btn-outline-danger{border-color:var(--bs-danger)!important}
.btn-danger,.btn-danger:hover{background-color:var(--bs-danger);border-color:var(--bs-danger);color:#fff}
.text-success{color:var(--bs-success)!important}
.btn-success,.btn-success.disabled,.btn-success:disabled{background-color:var(--bs-success);border-color:var(--bs-success)}
.bg-success{background-color:var(--bs-success)!important}
.btn-success:hover,.btn-success:focus,.btn-success:active{background-color:var(--bs-success-hover);border-color:var(--bs-success-hover)}
.border-success{border-color:var(--bs-success)!important}
.btn-success:focus,.btn-success:active:focus{box-shadow: 0 0 0 0.25rem rgb(179 147 9 / 50%)}
.btn-outline-success{color:var(--bs-success);border-color:var(--bs-success)}
.btn-outline-success:hover{color:#fff;background-color:var(--bs-success);border-color:var(--bs-success)}
.max-120{max-width:120px}
.max-160{max-width:160px}
.max-200{max-width:200px}
.max-240{max-width:240px}
.max-280{max-width:280px}
.max-320{max-width:320px}
.max-360{max-width:360px}
.max-400{max-width:400px}
.max-480{max-width:480px}
.max-600{max-width:600px}
.max-680{max-width:680px}
.smaller{font-size:10px}
.ls-0{letter-spacing:0}
.ls-1{letter-spacing:0.1em}
.ls-2{letter-spacing:0.2em}
.rounded-5{border-radius:0.5rem!important;}
.bottom-1{bottom:-1px}
.img-cover{object-fit:cover}
.square-w{height:fit-content;aspect-ratio:1/1;}
.square-h{width:fit-content;aspect-ratio:1/1;}
.filter-drop-shadow{filter:drop-shadow(0 0 5px rgba(0,0,0,0.5))}
.filter-drop-shadow-white{filter:drop-shadow(0 0 10px #fff)}
.border-color-nomal{border-color:rgba(0,0,0,.125)!important}
.move{transition: 0.8s ease 0s}
/*共通*/
header .badge{min-width:1.7em}
.page-item.active .page-link{background-color:var(--bs-primary);border-color:var(--bs-primary)}
.page-link{color:var(--bs-primary)}





