@charset "UTF-8";
:root{
--primary:#1a73e8;
--primary-variant:#4285f4;
--on-primary:#fff;
--secondary:#e8f0fe;
--secondary-variant:#d2e3fc;
--on-secondary:#1967d2;
--on-secondary-variant:#185abc;
--surface:#fff;
--surface-transparent:hsla(0,0%,100%,0);
--on-surface:#3c4043;
--on-surface-variant:#5f6368;
--on-surface-variant-agm:#70757a;
--background:#fff;
--on-background:#202124;
--textfield-surface:#f1f3f4;
--textfield-primary:#1967d2;
--textfield-hairline:#80868b;
--textfield-error:#c5221f;
--textfield-on-surface-variant:#5f6368;
--hairline:#dadce0;
--error:#d93025;
--on-error:#fff;
--shadow-1:0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
--shadow-5:0 4px 4px 0 rgba(60,64,67,.3),0 8px 9pt 6px rgba(60,64,67,.15);
--fab:hsla(0,0%,100%,.502);
--fab-hover:#f6fafe;
--dimmed:rgba(32,33,36,.38);
--chip-hover:#f1f3f4;
--now:#ea4335;
--wine:#ad1457;
--tangerine:#f4511e;
--lemon:#e4c441;
--basil:#0b8043;
--blueberry:#3f51b5;
--grapes:#8e24aa;
--rose:#d81b60;
--pumpkin:#ef6c00;
--avocado:#c0ca33;
--eucalyptus:#009688;
--lavender:#7986cb;
--cocoa:#795548;
--tomato:#d50000;
--mango:#f09300;
--pistachio:#7cb342;
--peacock:#039be5;
--lilac:#b39ddb;
--graphite:#616161;
--flamingo:#e67c73;
--banana:#f6bf26;
--sage:#33b679;
--cobalt:#4285f4;
--amethyst:#9e69af;
--birch:#a79b8e}
@media(prefers-color-scheme:dark){
:root{--primary:#adc7ff;
--primary-variant:#4285f4;
--on-primary:#002e68;
--secondary:#e8f0fe;
--secondary-variant:#d2e3fc;
--on-secondary:#000;
--on-secondary-variant:#000;
--surface:#212121;
--surface-transparent:rgba(33,33,33,0);
--on-surface:#fff;
--on-surface-variant:#999;
--on-surface-variant-agm:#70757a;
--background:#18191a;
--on-background:#fff;
--textfield-surface:#303030;
--textfield-primary:#1a73e8;
--textfield-hairline:#4c4c4c;
--textfield-error:#c5221f;
--textfield-on-surface-variant:#999;
--hairline:#4c4c4c;
--error:#d93025;
--on-error:#fff;
--shadow-1:0 1px 2px 0 rgba(0,0,0,.3),0 1px 3px 1px rgba(0,0,0,.15);
--shadow-5:0 4px 4px 0 rgba(0,0,0,.3),0 8px 9pt 6px rgba(0,0,0,.15);
--fab:hsla(0,0%,100%,.502);
--fab-hover:#f6fafe;
--dimmed:rgba(32,33,36,.38);
--chip-hover:#303030;
--now:#ea4335;
--wine:#fd526f;
--tangerine:#ffa726;
--lemon:#ffec27;
--basil:#8aca40;
--blueberry:#7088ff;
--grapes:#c768ec;
--rose:#ff4081;
--pumpkin:#ffab00;
--avocado:#8eb900;
--eucalyptus:#00b16a;
--lavender:#b39ddb;
--cocoa:#9e725e;
--tomato:#eb4b3b;
--mango:#ff9200;
--pistachio:#7cb342;
--peacock:#00a0e3;
--lilac:#baa6dd;
--graphite:#969696;
--flamingo:#ff8585;
--banana:#ffec27;
--sage:#77c890;
--cobalt:#87a4f4;
--amethyst:#9e69af;
--birch:#d2cabd;
}
}
.bg-wine{background-color:var(--wine)}
.bg-tangerine{background-color:var(--tangerine)}
.bg-lemon{background-color:var(--lemon)}
.bg-basil{background-color:var(--basil)}
.bg-blueberry{background-color:var(--blueberry)}
.bg-grapes{background-color:var(--grapes)}
.bg-rose{background-color:var(--rose)}
.bg-pumpkin{background-color:var(--pumpkin)}
.bg-avocado{background-color:var(--avocado)}
.bg-eucalyptus{background-color:var(--eucalyptus)}
.bg-lavender{background-color:var(--lavender)}
.bg-cocoa{background-color:var(--cocoa)}
.bg-tomato{background-color:var(--tomato)}
.bg-mango{background-color:var(--mango)}
.bg-pistachio{background-color:var(--pistachio)}
.bg-peacock{background-color:var(--peacock)}
.bg-lilac{background-color:var(--lilac)}
.bg-graphite{background-color:var(--graphite)}
.bg-flamingo{background-color:var(--flamingo)}
.bg-banana{background-color:var(--banana)}
.bg-sage{background-color:var(--sage)}
.bg-cobalt{background-color:var(--cobalt)}
.bg-amethyst{background-color:var(--amethyst)}
.bg-birch{background-color:var(--birch)}
