@charset "UTF-8";
*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
body{margin:0;font-family:"Helvetica Neue",Helvetica,"Hiragino Sans","Hiragino Kaku Gothic ProN",Arial,"Yu Gothic",Meiryo,sans-serif!important;word-break:break-all;text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
img,svg{max-width:100%;height:auto;display:block}
a{text-decoration:none}
a:hover{text-decoration:underline}
.sans-serif{font-family:"Times New Roman",YuMincho,"Hiragino Mincho ProN","Yu Mincho","MS PMincho",serif}
.disp-block,.block-link,.list-link{display:block}
.disp-iblock{display:inline-block}
.disp-flex,.flex{display:flex}
.disp-grid{display:grid}
.flex-wrap{flex-wrap:wrap}
.flex-jc-center{justify-content:center}
.flex-jc-around{justify-content:space-around}
.flex-jc-between{justify-content:space-between}
.flex-jc-evenly{justify-content:space-evenly}
.flex-ac-center{align-content:center}
.flex-ac-between{align-content:space-between}
.flex-ai-center{align-items:center}
.w100,.pos-sticky-bottom,.pos-sticky-top{width:100%}
.w90{width:90%}
.w80{width:80%}
.w70{width:70%}
.w60{width:60%}
.w50{width:50%}
.w40{width:40%}
.w33{width:33.33%}
.w30{width:30%}
.w25{width:25%}
.w20{width:20%}
.w10{width:10%}
.max-1760{max-width:1760px}
.max-960{max-width:960px}
.max-800{max-width:800px}
.max-640{max-width:640px}
.max-480{max-width:480px}
.max-320{max-width:320px}
.max-240{max-width:240px}
.max-120{max-width:120px}
.max-100p{max-width:100%;max-height:100%}
[class*=max-]{margin-left:auto;margin-right:auto}
.tabel-border,.tabel-border td,.tabel-border th{border-collapse:collapse;border:thin solid var(--table-border-color,#ccc)}
.tabel-border{margin:auto}
.img-fit-contain{object-fit:contain;height:100%}
.img-fit-cover{object-fit:cover;height:100%}
.pos-absolute{position:absolute}
.pos-relative{position:relative}
.pos-sticky-bottom,.pos-sticky-top{position:-webkit-sticky;position:sticky;z-index:2}
.pos-sticky-top{top:0}
.pos-sticky-bottom{bottom:0}
.pos-fixed-b{position:fixed;bottom:0}
.cam-border{border:thin solid}
.cam-border-bottom{border-bottom:thin solid}
.radius05{border-radius:.5rem;overflow:hidden}
.radius10{border-radius:1rem;overflow:hidden}
.radius15{border-radius:1.5rem;overflow:hidden}
.radius20{border-radius:2rem;overflow:hidden}
.radius25{border-radius:2.5rem;overflow:hidden}
.shadow-lv1{box-shadow:0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)}
.shadow-lv2,.block-link,.btn-raised{box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)}
.shadow-lv3{box-shadow:0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)}
.shadow-lv4,.block-link:hover,.btn-raised:focus,.btn-raised:hover,.shadow-lv4.block-link:focus{box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)}
.shadow-lv6{box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12)}
.shadow-lv8,.block-link:active,.btn-raised:active{box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)}
.shadow-lv12{box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12)}
.shadow-lv16{box-shadow:0 8px 10px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12)}
.shadow-lv24{box-shadow:0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12)}
.lh-2{line-height:2}
.ws-nowrap{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%}
.css-swip{scroll-snap-type:x mandatory;width:100%;overflow-x:auto;display:flex;-webkit-overflow-scrolling:touch;overflow-scrolling:touch}
.css-swip>*{min-width:100%;white-space:nowrap}
.move{transition:.3s ease 0s;transition:box-shadow 280ms cubic-bezier(.4,0,.2,1),opacity 15ms linear 30ms,transform 270ms 0s cubic-bezier(0,0,.2,1)}
.move-slow{transition:1s ease 0s;-moz-transition:1s ease 0s;-webkit-transition:1s ease 0s}
.text-center{text-align:center}
.text-left{text-align:left}
.text-right{text-align:right}
.fb{font-weight:700}
.fn{font-weight:normal}
button{background-color:transparent}
.btn{padding:1em 1.5em;border:none;user-select:none;-webkit-user-select:none;line-height:1}
.block-link:focus,.block-link:hover,.btn:focus,.btn:hover,.list-link:focus,.list-link:hover{border:none;outline:0;text-decoration:none}
.btn-raised,.btn-raised:focus,.btn-raised:hover,.btn::after,.btn::before{background-color:var(--main-color,#999);color:#fff}
.btn-outlined,.btn-outlined.ripple,.btn-outlined:focus,.btn-outlined:hover{border:solid thin}
.btn-raised{color:#fff}
.list-link{padding:.5rem 1rem}
.point-reader{width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-webkit-text-overflow:ellipsis}
.pd0{padding:0}
.pd05{padding:.5rem}
.pd10{padding:1rem}
.pd15{padding:1.5rem}
.pd20{padding:2rem}
.pt0{padding-top:0}
.pt05{padding-top:.5rem}
.pt10{padding-top:1rem}
.pt15{padding-top:1.5rem}
.pt20{padding-top:2rem}
.pr0{padding-right:0}
.pr05{padding-right:.5rem}
.pr10{padding-right:1rem}
.pr15{padding-right:1.5rem}
.pr20{padding-right:2rem}
.pb0{padding-bottom:0}
.pb05{padding-bottom:.5rem}
.pb10{padding-bottom:1rem}
.pb15{padding-bottom:1.5rem}
.pb20{padding-bottom:2rem}
.pl0{padding-left:0}
.pl05{padding-left:.5rem}
.pl10{padding-left:1rem}
.pl15{padding-left:1.5rem}
.pl20{padding-left:2rem}
.mg0{margin:0}
.mg05{margin:.5rem}
.mg10{margin:1rem}
.mg15{margin:1.5rem}
.mg20{margin:2rem}
.mt0{margin-top:0}
.mt05{margin-top:.5rem}
.mt10{margin-top:1rem}
.mt15{margin-top:1.5rem}
.mt20{margin-top:2rem}
.mr0{margin-right:0}
.mr05{margin-right:.5rem}
.mr10{margin-right:1rem}
.mr15{margin-right:1.5rem}
.mr20{margin-right:2rem}
.mb0{margin-bottom:0}
.mb05{margin-bottom:.5rem}
.mb10{margin-bottom:1rem}
.mb15{margin-bottom:1.5rem}
.mb20{margin-bottom:2rem}
.ml0{margin-left:0}
.ml05{margin-left:.5rem}
.ml10{margin-left:1rem}
.ml15{margin-left:1.5rem}
.ml20{margin-left:2rem}
@media screen and (min-width:921px){
.pc-flex{display:flex}
/*body{font-size:1rem;line-height:1.8}
.max-w,section>*{max-width:840px;margin-right:auto;margin-left:auto}
.font-big,h2{font-size:2rem}
.font-bigger,h1{font-size:3.75rem}
.pd05{padding:1rem}
.pd10{padding:2rem}
.pd15{padding:3rem}
.pd20{padding:4rem}
.pt05{padding-top:1rem}
.pt10{padding-top:2rem}
.pt15{padding-top:3rem}
.pt20{padding-top:4rem}
.pr05{padding-right:1rem}
.pr10{padding-right:2rem}
.pr15{padding-right:3rem}
.pr20{padding-right:4rem}
.pb05{padding-bottom:1rem}
.pb10{padding-bottom:2rem}
.pb15{padding-bottom:3rem}
.pb20{padding-bottom:4rem}
.pl05{padding-left:1rem}
.pl10{padding-left:2rem}
.pl15{padding-left:3rem}
.pl20{padding-left:4rem}
.mg05{margin:1rem}
.mg10{margin:2rem}
.mg15{margin:3rem}
.mg20{margin:4rem}
.mt05{margin-top:1rem}
.mt10{margin-top:2rem}
.mt15{margin-top:3rem}
.mt20{margin-top:4rem}
.mr05{margin-right:1rem}
.mr10{margin-right:2rem}
.mr15{margin-right:3rem}
.mr20{margin-right:4rem}
.mb05{margin-bottom:1rem}
.mb10{margin-bottom:2rem}
.mb15{margin-bottom:3rem}
.mb20{margin-bottom:4rem}
.ml05{margin-left:1rem}
.ml10{margin-left:2rem}
.ml15{margin-left:3rem}
.ml20{margin-left:4rem}*/
}
@media screen and (min-width:1321px){
.max-w{max-width:1024px}
}
@media screen and (min-width:1545px){
.max-w{max-width:1200px}
}
@media screen and (min-width:1865px){
/*.max-w{max-width:1520px}*/
}
